* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html, #root {
  width: 100%;
  min-height: 100vh;
  background-color: #ffffff; 
  font-family: sans-serif;
}

main {
  padding: 2rem;
}